.inputbox {
  position: relative;
  width: 250px;
  z-index: 999;
}

.inputbox input {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #2f2f2f;
  border: 1px solid lime;
  outline: none;
  z-index: 1;
}
